
body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
  .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color:#FFFFFF; 
  }
  
  h1 {
    font-size: 80px;
    margin-bottom: 50px;
    font-family: "Segoe UI", monospace;
  }
  
  .buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  button {
    background-color: hsla(145, 96%, 49%, 0.892);
    color: #FFFFFF;
    border: none;
    padding: 20px 30px;
    font-size: 25px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease-in-out;
    flex-grow: 1;
    max-width: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  button:hover {
    transform: scale(1.1);
    background-color: #1654da;
  }